<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="space-1"></div>
      <div *ngIf="!show" style="text-align: center">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <div *ngIf="show">
        <div *ngFor="let historic of tabHistoric">
          <h1>Groupes semaine du {{historic.date | date: 'd/M/y'}}</h1>
          <div class="group">
            <div *ngFor="let group of historic.groups">
              <mat-card>
                <mat-card-header>
                  <h2>Groupe : {{ group.groupName }}</h2>
                </mat-card-header>
                <mat-card-content>
                  <div *ngFor="let member of group.member">
                    <div>
                      <img [src]="member.imagePath">
                    </div>
                    <span><h4>{{ member.name }}</h4></span>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




