@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

h1 {
  font-family: "Oswald";
  margin: 35px;
}

.title-group {
  font: 30px "Oswald";
}

.member {
  font: 22px "Oswald";
}
