<mat-card style="height: 100%">

  <mat-card-header>
    <mat-card-title>Liste des étudiants</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div style="display: flex; flex-direction: row">
      <mat-card style="width: 50%">
        <mat-card-header>
          <mat-card-title>Présent</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div style="display: flex; flex-wrap: wrap">
            <div class="col-5" *ngFor="let user of userService.usersPresent, let i = index" style="margin: 2px">
              <a class="member" (click)="onUser(i)" style="cursor: pointer"><img [src]="user.imagePath" height="50" width="50" >{{ user.name }}</a>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card style="width: 50%">
        <mat-card-header>
          <mat-card-title>Absent</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div style="display: flex; flex-wrap: wrap">
            <div class="col-5" *ngFor="let delUser of userService.usersAbsent, let n = index" style="margin:  2px">
              <a class="member" (click)="onDelUser(n)" style="cursor: pointer"><img [src]="delUser.imagePath" height="50" width="50" >{{ delUser.name }}</a>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-card-content>
</mat-card>



