<div>
  <h1>Groupes Coding Factory</h1>
  <div *ngIf="show" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div *ngIf="!show">
    <mat-card *ngFor="let classe of codingClassModels; let indexClasse = index">
      <mat-card-title>{{classe.name}}</mat-card-title>
      <mat-card-content style="display: flex; flex-direction: row; overflow: auto; justify-content: flex-start">
        <div *ngFor="let week of classe.weeks; let indexWeek = index" style="margin: 5px; min-width: 110px;"
             [style.background-color]="setBgColor(indexWeek)">
          <mat-card-subtitle>{{week.name}}</mat-card-subtitle>
          <div *ngFor="let group of week.group">
            <p style="width: 100%">{{group.name}}</p>
            <div *ngFor="let user of group.users">
              <p style="width: 100%">{{user.name}}</p>
            </div>
            <hr/>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>








