<div class="container">
  <div *ngIf="!groupSelect" class="row">
    <div class="align-items-md-center">
      <button class="btn btn-primary" (click)="onGroup()">GROUP</button>
    </div>
  </div>
  <div class="row">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item" style="margin: 5px; width: 190px" *ngFor="let group of groupService.oldGroups">
            <p>Groupe : {{ group.groupName }}</p>
            <div *ngFor="let member of group.member">
              <img [src]="member.imagePath" height="50" width="50" >
              <p>{{ member.name }}</p>
            </div>
        </li>
      </ul>
  </div>
  <div >
    <button *ngIf="groupSelect" class="btn btn-primary" (click)="onClearGroup()">Clear Groups</button>
  </div>
</div>

