<div *ngIf="!authService.btnSelectGroup" class="container">
  <div class="row">
    <div class="col-12">
      <div class="space-1"></div>
      <h1>Groupes pour la semaine</h1>
      <div *ngIf="!show" style="text-align: center">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <div class="space-2"></div>
      <div style="display: flex; justify-content: space-around;">
        <div class="button">
          <button mat-raised-button color="primary" (click)="onGroup()">Nouveau Groupes</button>
        </div>
        <div class="button">
          <button mat-raised-button color="primary" (click)="onValid()">Valider</button>
        </div>
      </div>
      <div class="space-2"></div>
      <div class="group" *ngIf="show">
        <div *ngFor="let group of groupService.oldGroups">
          <mat-card>
            <mat-card-header>
              <h2>Groupe : {{ group.groupName }}</h2>
            </mat-card-header>
            <mat-card-content>
              <div *ngFor="let member of group.member">
                <div>
                  <img [src]="member.imagePath">
                </div>
                <span><h4>{{ member.name }}</h4></span>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="space-2"></div>
      <h1>Groupes semaine dernière</h1>
      <div *ngIf="!showHistoric" style="text-align: center">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <div class="group" *ngIf="tabHistoric.length >= 1">
        <div *ngFor="let groupHistoric of tabHistoric[tabHistoric.length-1].groups">
          <mat-card>
            <mat-card-header>
              <h2>Groupe : {{ groupHistoric.groupName }}</h2>
            </mat-card-header>
            <mat-card-content>
              <div *ngFor="let memberHistoric of groupHistoric.member">
                <div>
                  <img [src]="memberHistoric.imagePath">
                </div>
                <span><h4>{{ memberHistoric.name }}</h4></span>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div *ngIf="tabHistoric.length < 1 ">
        <h1> Pas d'historique </h1>
      </div>
    </div>
  </div>
</div>
<div *ngIf="authService.btnSelectGroup">
  <h1> Pas logger</h1>
</div>




