<div *ngIf="!authService.btnSelectGroup">
  <mat-card>
    <div style="display: flex; flex-direction: row; justify-content: space-between">
      <mat-card-title style="text-align: left">Nouvelle promo</mat-card-title>
      <button mat-raised-button color="warn" (click)="onDelete()">
        Suprimmer les promo
      </button>
    </div>
    <mat-card-content style="align-items: start">
      <form style="display: flex; flex-direction: column; align-items: flex-start"
            [formGroup]="formGroup"
      >
        <div>
          <mat-form-field appearance="outline" style="margin-right: 5px">
            <mat-label>Promo</mat-label>
            <input matInput placeholder="Entrez la promo" formControlName="classe">
          </mat-form-field>
          <mat-form-field appearance="outline" style="margin-right: 5px">
            <mat-label>Nombres de semaines</mat-label>
            <input matInput type="number" value="0" formControlName="week">
          </mat-form-field>
        </div>
        <mat-card-title>Etudiants (Min 4)</mat-card-title>
        <mat-form-field appearance="outline" style="margin-right: 5px">
          <mat-label>Etudiants</mat-label>
          <textarea matInput style="height: 200px" formControlName="student"></textarea>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          style="margin-top: 20px"
          [disabled]="!formGroup.valid"
          (click)="onSubmit(formGroup.value)"
        >
          Créer promo
        </button>
      </form>
    </mat-card-content>
  </mat-card>

  <div *ngIf="show" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div *ngIf="!show">
    <mat-card *ngFor="let classe of codingClassModels; let indexClasse = index">
      <mat-card-title>{{classe.name}}</mat-card-title>
      <mat-card-content style="display: flex; flex-direction: row; overflow: auto; justify-content: flex-start">
        <div *ngFor="let week of classe.weeks; let indexWeek = index" style="margin: 5px" [style.background-color]="setBgColor(indexWeek)">
          <mat-form-field appearance="outline" style="width: 100px">
            <mat-label>Semaine</mat-label>
            <input matInput type="text" value="{{week.name}}" (change)="onValueChange($event, indexClasse, indexWeek)">
          </mat-form-field>
          <div *ngFor="let group of week.group">
            <p style="width: 100%">{{group.name}}</p>
            <div *ngFor="let user of group.users">
              <p style="width: 100%">{{user.name}}</p>
            </div>
            <hr/>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div style="display: flex; flex-direction: row; justify-content: space-around">
          <button
            mat-raised-button
            color="primary"
            (click)="onSave()"
          >
            Sauvegarder promo
          </button>

          <button
            mat-raised-button
            color="warn"
            (click)="onDeleteCodingClasse(indexClasse)"
          >
            Supprimer promo
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div *ngIf="authService.btnSelectGroup">
  <h1> Veuillez vous loggez !</h1>
</div>




