<div *ngIf="!authService.btnSelectGroup">
  <div>
    <div style="display: flex; justify-content: space-around;">
      <div class="button">
        <button mat-raised-button color="primary" (click)="onGroup()">Nouveau Groupes</button>
      </div>
      <div class="button">
        <button mat-raised-button color="primary" (click)="onValid()">Valider</button>
      </div>
    </div>
  </div>
  <div style="display: flex; flex-direction: row">
    <mat-card style="width: 50%">
      <mat-card-header>
        <mat-card-title>
          Groupes pour la semaine
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="!show" style="text-align: center">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <div class="group" *ngIf="show">
          <div *ngFor="let group of groupService.oldGroups">
            <div>Groupe : {{ group.groupName }}</div>
            <mat-card style="width: 90px">
              <mat-card-content>
                <div *ngFor="let member of group.member">
                  <div>
                    <img [src]="member.imagePath">
                  </div>
                  <span><h4>{{ member.name }}</h4></span>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card style="width: 50%" >
      <mat-card-header>
        <mat-card-title>
          Groupes semaine dernière
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="!showHistoric" style="text-align: center">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <div class="group" *ngIf="tabHistoric.length >= 1">
          <div *ngFor="let groupHistoric of tabHistoric[tabHistoric.length-1].groups">
            <div>Groupe : {{ groupHistoric.groupName }}</div>
            <mat-card style="max-width: 90px">
              <mat-card-content>
                <div *ngFor="let memberHistoric of groupHistoric.member">
                  <div>
                    <img [src]="memberHistoric.imagePath">
                  </div>
                  <span><h4>{{ memberHistoric.name }}</h4></span>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div *ngIf="tabHistoric.length < 1 ">
          <h1> Pas d'historique </h1>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div *ngIf="authService.btnSelectGroup">
  <h1> Pas logger</h1>
</div>




